html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

/* add box styles*/
body{
    padding: 28px;
    width: 500px;
/* add backgroound color**/
background-color: #efefef;
margin:0,auto;
}
ul{
    background-color: white;
    border: 5px,solid,purple;
    padding: 30PX;
    border-radius: 20PX;
}