   /*
    Name: Nathaniel Shearing
    FileName: Part1Style.css
    Date: Feb 27 2026
    Description:
    This is the css file 
    that has been linked to style the biography page.
    */

/* General setup */


@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html{
      font-family: "Noto Serif", serif ;
  font-size: 1rem;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  letter-spacing: .025em;
  line-height: 1.6em;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1,h2 { 
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: .075em;
}
h1{
    font-size: 2rem;
     text-align:center;
     margin-top: .5rem;
     margin-bottom: .75rem;
}
h2{
    margin-bottom: 0;
    font-size: 1.5rem;
}
section h2 + p{
    text-indent: 2rem;
}
a{
    color: #aa6666;
    outline: none;
}

a:visited{
    color:hotpink;
}

a:focus{
    text-decoration: none;
    color: purple;
}

a:hover{
    color: crimson;
    text-decoration: none;
}

a[href*="http"]{
    background: url("/Part2/imagesPart2/external-link-52.png");
    padding-right: 1em;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right;
    }

nav li{
    display: block;
    list-style: none;
    padding: 5px;
    margin: 10px;
    outline: solid #aa6666;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
}
nav li a{
    color: #aa6666;
}
nav li a:visited{
    color: hotpink;
}
nav li a:focus{
    color: purple;
}
nav li a:hover{
    text-decoration: none;
    color: crimson;
}
ul li{
    list-style: circle;
    margin: .2rem;
}
ol li{
    list-style: lower-greek;
    margin: .2rem;
}


