/* General setup */


@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html{
      font-family: "Noto Serif", sans-serif ;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  letter-spacing: .025em;
  line-height: 20px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
 
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1,h2 { 
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold ;
  font-style: normal;
  letter-spacing: .05em;
}
h1{
    font-size: 2rem;
    font-weight: bold;
     text-align:center;
}
h2{
    margin-bottom: 0;
    font-size: 1.5rem;
}
section h2 + p{
    text-indent: 2rem;
}
a{
    color: #aa6666;
}
a:focus{
    text-decoration: none;
    color: darkred;
}
a:hover{
    color: crimson;
    text-decoration: none;
}
A:visited{
    color:deeppink;
}