/*
Name: Nathaniel Shearing
  File: bouncingBallStyle
  Date: 09 April 2026
  CSS file that is linked with the bouncingBall html file. 
  This file contains the CSS code for the bouncing ball page.It 
  sets the style for the bouncing ball page.
  */

  